h1 {
    font-size: 3rem;
}

/*ANIMATION*/
.icon-bar {
    width: 22px; 
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
    margin-bottom: 4px; 
    transform: rotate(0);
}

/*NAVIGATION*/
.block-hiegth{
    height: 55px;
}
.bg-opacity {
    background-color: rgba(52, 58, 64, 0.95);
}

.buttonOutLine {
    outline: none !important;
}

.header-img-width{
    width: 100%;
}
/*ABOUT US*/
.container_aboutUs {
    height: 36rem;
}

.container_aboutUs p {
    font-size: 1.1rem;
    margin: 1.2rem;
}

/*ABOUT ROOMS*/
.container_rooms {
    height: 39rem;
}

.container_rooms p {
    font-size: 1.1rem;
    margin: 5.2rem;
    text-align: justify;
}

/*ABOUT RESTAURANT*/
.container_restaurant {
    height: 36rem;
}

.container_restaurant p {
    font-size: 1.1rem;
    margin: 1.2rem;
}

/*GALLERY*/
.container_fg {
    height: 650px;
}

.container_gallery {
    height: 745px;
}
/*STYLE FORM*/

.container_send_reviews form input[type=text] {
    width: 20rem;
    padding: .3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    box-shadow: none;
    color: #fff;
}
.container_send_reviews form input::placeholder, form textarea::placeholder{
    color: #fff;
}
.container_send_reviews form textarea {
    width: 20rem;
    padding: .3rem;
    margin-bottom: 1rem;
    height: 10rem;
    white-space: normal;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: #fff;
    resize: none;
    outline: none;
    background: transparent;
}

.container_send_reviews button{ 
    background: #000;
    border: none;
    letter-spacing: .1rem;
}

.container_send_reviews button:hover{
    background: #6c757d;
}


/*FOOTER*/
footer {
    color: #fff;
    height: 18rem;
    margin-top: -10px !important;
}

footer img{
    width: 150px;
    height: 150px;
}

footer a{
    color: rgba(255,255,255,.5);
}

footer a:hover{
    color: #fff;
    text-decoration: none;
}
footer p {
    margin: 0;
    font-size: 1.1rem;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 535px) {
    .full-screen {
        height: 95vh;
        transition: .4s;
        transition-timing-function: linear;
    }
    .h-slider{
        height: 55vh;
    }
    .h-img{
        width: auto !important;
        height: 55vh;
        text-align: center;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 800px){
    .container_fg{
        height: 53vh;
    }

    .container_gallery{
    height: 53vh;    
    }

    .swiper-container{
    width: 78%;
    height: 53vh !important;
    }
}
