#hellopreloader>p{
    display:none;
  }

#hellopreloader_preload{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222 url(../img/three-dots.svg) center center no-repeat;
    background-size:70px;
}
#hellopreloader_preload>div{
    width: 18%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}
#hellopreloader_image{
    display: block;
    position: fixed;
    z-index: 99999;
    width: 18%;
    background-size:70px;
}

h1 {
    font-size: 3rem;
}

/*ANIMATION*/
.icon-bar {
    width: 22px; 
    height: 2px;
    background-color: #E7C492;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
    margin-bottom: 4px; 
    transform: rotate(0);
}

/*NAVIGATION*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #E7C492 !important;
}
.block-hiegth{
    height: 55px;
}

.bg-opacity {
    background-color: rgba(52, 58, 64, 0.95);
}

.buttonOutLine {
    outline: none !important;
}

.header-img-width{
    width: 100%;
}
/*ABOUT US*/
.container_aboutUs {
    height: 100%;
    padding: 8rem;
}

.container_aboutUs p {
    font-size: 1.1rem;
    margin: 1.2rem;
    text-indent: 3rem;
    line-height: 2.2rem;
}

/*ABOUT ROOMS*/
.container_rooms {
    height: 39rem;
}

.container_rooms p {
    font-size: 1.1rem;
    margin: 2.2rem;
    text-indent: 2.5rem;
    line-height: 2.2rem;
    text-align: justify;
}
.container_rooms a{
    display: inline-block;
    color: #E7C492;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: .6em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

/*ABOUT RESTAURANT*/
.container_restaurant {
    height: 100%;
    padding: 5rem;
}

.container_restaurant p {
    text-indent: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.1rem;
    margin: 1.2rem;
}

.container_restaurant a{
    display: inline-block;
    color: rgba(52, 58, 64, 0.95) !important;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: .6em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

/*GALLERY*/
.container_fg {
    height: 650px;
}

.container_gallery {
    height: 745px;
}
/*STYLE FORM*/

.container_send_reviews form input[type=text] {
    width: 20rem;
    padding: .3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    box-shadow: none;
    color: #fff;
}
.container_send_reviews form input::placeholder, form textarea::placeholder{
    color: #fff;
}
.container_send_reviews form textarea {
    width: 20rem;
    padding: .3rem;
    margin-bottom: 1rem;
    height: 10rem;
    white-space: normal;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: #fff;
    resize: none;
    outline: none;
    background: transparent;
}

.container_send_reviews button{ 
    background: none;
    display: inline-block;
    color: #E7C492;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: .6em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    letter-spacing: .1rem;
}

.container_send_reviews button:hover{
    background: #6c757d;
}


/*FOOTER*/
footer {
    color: #fff;
    height: 18rem;
    margin-top: -10px !important;
}

footer img{
    width: 150px;
    height: 150px;
}

footer a{
    color: rgba(255,255,255,.5);
}

footer a:hover{
    color: #E7C492;
    text-decoration: none;
}
footer p {
    margin: 0;
    font-size: 1.1rem;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 535px) {
    .container_aboutUs{
        padding: 1rem;
    }

    .container_aboutUs p {
        font-size: 1rem;
        margin: 1rem;
    }

    .container_rooms p {
        font-size: 1rem;
        margin: 2rem;
    }
    .container_restaurant{
        padding: 0;
    }
    .container_restaurant p {
    text-indent: 2.5rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: 1rem;
}

    .full-screen {
        height: 95vh;
        transition: .4s;
        transition-timing-function: linear;
    }
    .h-slider{
        height: 55vh;
    }
    .h-img{
        width: auto !important;
        height: 55vh;
        text-align: center;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 800px){
    .container_fg{
        height: 53vh;
    }

    .container_gallery{
    height: 53vh;    
    }

    .swiper-container{
    width: 78%;
    height: 53vh !important;
    }
}
